.lastAddedProducts {
    background-color: #f8f4e0;
}

.lastAddedProducts .lastAddedProductsItems .lastAddedProductsItem {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 2px 0px;
    /* display: flex; */
}

.lastAddedProducts .lastAddedProductsItems .lastAddedProductsItem .productImage {
    text-align: center;
}

.lastAddedProducts .lastAddedProductsItems .lastAddedProductsItem .productImage img {
    height: 110px;
    /* width: 100%; */
    /* object-fit: cover; */
}

.lastAddedProducts .lastAddedProductsItems .lastAddedProductsItem .productSpecs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lastAddedProducts .lastAddedProductsItems .lastAddedProductsItem .productSpecs p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}