.searchBox {
    border: 2px solid #d96140;
    border-radius: 5px;
    display: flex;
}

.searchBox input {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.searchBox .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 10%;
    margin: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d96140;
}

.searchBox input:focus {
    border: none;
}

.SignLogin {
    border: 2px solid #d96140;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: fit-content;
    position: relative;
}

.SignLogin:hover .asd {
    color: #d96140;
}

.SignLogin:hover .subSignLogin {
    display: block;
}

.SignLogin p:first-child {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

.SignLogin p:last-child {
    font-size: 12px;
    font-weight: 400;
}

.subSignLogin {
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid #d96140;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
    top: 100%;
    z-index: 99;
}

.subSignLogin p:hover {
    background-color: #d96140;
    color: white;
}