.subNavbar {
    background-color: #d96140;
    border: 2px solid #d96140;
    border-bottom-width: 0;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 2px; */
}

.subNavbar .subNavbarItems {
    position: relative;
    cursor: pointer;
    margin-right: 3px;
    margin-left: 3px;
}

.subNavbar .subNavbarItems:first-child::before {
    content: "";
    width: 1px;
    height: 60%;
    border: 0 solid white;
    border-right-width: 2px;
    position: absolute;
    left: -4px;
    top: 20%;
}

.subNavbar .subNavbarItems:hover {
    background-color: white;
    color: #d96140;
}

.subNavbar .subNavbarItems::after {
    content: "";
    width: 1px;
    height: 60%;
    border: 0 solid white;
    border-right-width: 2px;
    position: absolute;
    right: -4px;
    top: 20%;
}

.subNavbar .subNavbarItems p {
    font-weight: 500;
}

.subNavbar .subNavbarDropDown {
    border: 1px solid #d96140;
    border-top-width: 0;
    position: absolute;
    background-color: #fff;
    width: calc(100% + 4px);
    top: 40px;
    left: -2px;
    z-index: 99;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}