.App {
  box-sizing: border-box;
}

.nav-link .App-link {
  color: black !important;
  text-decoration: none !important;
}

* p {
  margin: 0 !important;
}

main {
  min-height: 90vh;
}

a {
  color: black;
}

.nav-item:hover a {
  transition: border-width 0.3s ease;
  border-bottom: 3px solid rgba(0, 0, 0, 0.253);
}