.panelMenu {
    background-color: #d96140;
    height: 100vh;
    /* box-shadow: rgba(0, 0, 0, 0.308) 1.95px 0 2.6px; */
}

.logOut {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 12px 12px !important;
    font-weight: 500;
    background-color: #d96140;
    color: white;
    /* border-radius: 7px; */
    border-top-right-radius: 7px;
    transition: transform .2s ease;
}

.logOut:hover div {
    transition: transform .2s ease;
    transform: translateX(5px);
}

.panelMenuItem .panelMenuItems {
    font-weight: 500;
    color: white;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    transition: transform 0.2s ease;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}

.panelMenuItem .panelMenuItems:hover {
    transform: translateX(5px);
}

.panelMenuItem .panelMenuItems::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: 5px;
    left: 0;
    height: 100%;
    background-color: white;
}

.panelNavbar {
    display: flex;
    align-items: center;
    color: white;
    background-color: #d96140;
    /* box-shadow: rgba(0, 0, 0, 0.308) 0 2px 2.6px; */
    z-index: 99;
}

.panelNavbar .navbarPersonIcon {
    display: flex;
    align-items: center;
}

.generalCard .generalCards .content {
    color: white;
    border-radius: 5px;
    background-color: #46B1C9;
    min-height: 100%;
}

.addProduct {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.addProduct input {
    box-shadow: none !important;
    margin-right: 5px;
}

.addProduct select {
    box-shadow: none !important;
}

.addProduct button[type="submit"] {
    /* text-overflow: ellipsis; */
    min-width: fit-content;
    max-width: 200px;
}

.productSearch input {
    width: 100%;
}

.productEdit {
    width: fit-content;
}

.productEdit button:first-child {
    background-color: #46B1C9;
    color: white;
}

.productEdit button:first-child:hover {
    background-color: #46b1c9ce;
    color: white;
}

.PopUp {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.205);
}

.PopUp .PopUpCard {
    margin: auto;
    background-color: white;
}

#choose-file {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    z-index: -999 !important;
}